# Apriori algorithm - consumer basket

In [1]:
import pandas as pd
import numpy as np
import re

import nltk
from nltk.corpus import stopwords

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import LabelEncoder

In [17]:
import warnings

warnings.filterwarnings("ignore", category=DeprecationWarning)

/usr/local/lib/python3.8/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [18]:
from mlxtend.frequent_patterns import apriori, association_rules

In [19]:
df = pd.read_csv('../data/all_preprocessed.csv')
df.describe()

,author,content,poem name,age,type
count,506,506,505,506,506
unique,67,506,503,2,3
top,william shakespeare,let the bird of loudest layon the sole arabian...,Song,Renaissance,Love
freq,62,1,3,284,278

In [20]:
df['content'] = df['content'].apply(lambda x: x.split())
df['content']

0      [let, the, bird, of, loudest, layon, the, sole...
1      [sir, charles, into, my, chamber, coming, in, ...
2      [our, vice, runs, beyond, all, that, old, men,...
3      [lo, i, the, man, whose, muse, whilome, did, m...
4      [long, have, i, longd, to, see, my, love, agai...
                             ...
501    [this, youth, too, long, has, heard, the, brea...
502    [making, his, advanceshe, does, not, look, at,...
503    [i, thought, he, was, dumb, i, said, he, was, ...
504    [with, the, man, i, love, who, loves, me, not,...
505    [when, you, are, old, and, grey, and, full, of...
Name: content, Length: 506, dtype: object

In [21]:
stop_words = set(stopwords.words('english'))

In [22]:
df['content'] = df['content'].apply(lambda x: [item for item in x if item not in stop_words])
df['content']

0      [let, bird, loudest, layon, sole, arabian, tre...
1      [sir, charles, chamber, coming, writing, fairy...
2      [vice, runs, beyond, old, men, saw, far, authe...
3      [lo, man, whose, muse, whilome, maske, time, t...
4      [long, longd, see, love, againe, still, wisht,...
                             ...
501    [youth, long, heard, breakof, waters, land, ch...
502    [making, advanceshe, look, sniff, even, sniff,...
503    [thought, dumb, said, dumb, yet, ive, heard, c...
504    [man, love, loves, walked, street, lamps, flar...
505    [old, grey, full, sleep, nodding, fire, take, ...
Name: content, Length: 506, dtype: object

In [23]:
df['content']

0      [let, bird, loudest, layon, sole, arabian, tre...
1      [sir, charles, chamber, coming, writing, fairy...
2      [vice, runs, beyond, old, men, saw, far, authe...
3      [lo, man, whose, muse, whilome, maske, time, t...
4      [long, longd, see, love, againe, still, wisht,...
                             ...
501    [youth, long, heard, breakof, waters, land, ch...
502    [making, advanceshe, look, sniff, even, sniff,...
503    [thought, dumb, said, dumb, yet, ive, heard, c...
504    [man, love, loves, walked, street, lamps, flar...
505    [old, grey, full, sleep, nodding, fire, take, ...
Name: content, Length: 506, dtype: object

In [24]:
df['content'] = df['content'].apply(lambda x: list(set(x)))
df['content']

0      [simple, thus, sole, double, married, anthem, ...
1      [prayed, thin, thus, court, fames, mirth, mab,...
2      [laws, circes, extreme, safe, sits, excels, au...
3      [wight, sort, sprite, feend, grasping, liand, ...
4      [againe, bee, thus, still, sterne, full, fooli...
                             ...
501    [deserts, waitsstill, soil, anotherlook, leaps...
502    [mazy, awkward, reptiles, partial, skin, along...
503    [silencetearing, startling, spread, till, rabb...
504    [home, catch, flare, door, smile, saidthat, th...
505    [dream, sadly, mountains, full, many, slowly, ...
Name: content, Length: 506, dtype: object

In [25]:
newDF = pd.DataFrame(columns =['document', 'word'])
for i, content in enumerate(df.content):
    doc = [i] * len(content)
    
    tmp = pd.DataFrame(list(zip(doc, content)), columns =['document', 'word'])
    
    newDF = pd.concat([newDF, tmp])
newDF

   document     word
0         0   simple
1         0     thus
2         0     sole
3         0   double
4         0  married
..      ...      ...
43      505     deep
44      505     love
45      505     amid
46      505  moments
47      505     soft

[37790 rows x 2 columns]

Sorting fo apriori algorithm

In [26]:
sortedDf = newDF.sort_values(by=['document', 'word'])
sortedDf

    document          word
5          0        anthem
102        0  appalledthat
31         0       arabian
37         0       asunder
153        0         augur
..       ...           ...
10       505          soul
21       505         stars
11       505          take
29       505          true
23       505          upon

[37790 rows x 2 columns]

In [27]:
# sortedDf.to_csv('data.csv', index=True)

In [28]:
basket = pd.crosstab(index=sortedDf['document'], columns=sortedDf['word'])
basket

word,1,10,13,1538,19,1904,1914,1917,1919,1921,...,yvory,ywis,zeal,zealous,zenophontes,zephyrs,zephyrus,zeus,zone,zoo
document,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
502,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
503,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
504,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
505,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
frequentItemsets = apriori(basket, min_support=0.05, use_colnames=True)
frequentItemsets

      support                 itemsets
0    0.057312                    (air)
1    0.065217                   (alas)
2    0.053360                  (alone)
3    0.051383                (another)
4    0.086957                    (art)
..        ...                      ...
484  0.051383        (thou, thee, yet)
485  0.053360         (thee, thy, yet)
486  0.057312       (thou, thine, thy)
487  0.065217         (thou, thy, yet)
488  0.055336  (thou, thee, love, thy)

[489 rows x 2 columns]

In [30]:
rules = association_rules(frequentItemsets, metric="confidence", min_threshold=0.8)

In [31]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(poems),(permission),0.114625,0.154150,0.112648,0.982759,6.375332,0.094979,49.059289,0.952303
1,(publishing),(permission),0.059289,0.154150,0.059289,1.000000,6.487179,0.050149,inf,0.899160
2,(reprinted),(permission),0.086957,0.154150,0.086957,1.000000,6.487179,0.073552,inf,0.926407
3,(used),(permission),0.071146,0.154150,0.065217,0.916667,5.946581,0.054250,10.150198,0.895551
4,(used),(poems),0.071146,0.114625,0.061265,0.861111,7.512452,0.053110,6.374704,0.933288
5,(thee),(thy),0.154150,0.209486,0.124506,0.807692,3.855588,0.092214,4.110672,0.875612
6,(thine),(thou),0.077075,0.193676,0.067194,0.871795,4.501308,0.052266,6.289328,0.842801
7,(thine),(thy),0.077075,0.209486,0.063241,0.820513,3.916788,0.047095,4.404291,0.806879
8,"(thou, art)",(thy),0.067194,0.209486,0.059289,0.882353,4.211987,0.045212,6.719368,0.817514
9,"(art, thy)",(thou),0.061265,0.193676,0.059289,0.967742,4.996708,0.047423,24.996047,0.852070
10,"(doth, let)",(love),0.067194,0.403162,0.055336,0.823529,2.042676,0.028246,3.382082,0.547215
11,"(thou, doth)",(thy),0.073123,0.209486,0.061265,0.837838,3.999490,0.045947,4.874835,0.809134
12,"(thy, hath)",(thou),0.061265,0.193676,0.053360,0.870968,4.497038,0.041494,6.249012,0.828382
13,"(let, thy)",(thou),0.063241,0.193676,0.053360,0.843750,4.356505,0.041111,5.160474,0.822472
14,"(one, upon)",(like),0.063241,0.241107,0.051383,0.812500,3.369877,0.036136,4.047431,0.750730
15,"(thee, love)",(thy),0.096838,0.209486,0.081028,0.836735,3.994224,0.060741,4.841897,0.830015
16,"(thou, love)",(thy),0.112648,0.209486,0.090909,0.807018,3.852367,0.067311,4.096299,0.834415
17,"(thou, make)",(thy),0.055336,0.209486,0.051383,0.928571,4.432615,0.039791,11.067194,0.819762
18,"(thou, may)",(thy),0.079051,0.209486,0.065217,0.825000,3.938208,0.048657,4.517222,0.810118
19,"(may, thy)",(thou),0.077075,0.193676,0.065217,0.846154,4.368917,0.050290,5.241107,0.835507
20,"(reprinted, poems)",(permission),0.051383,0.154150,0.051383,1.000000,6.487179,0.043463,inf,0.891667
21,"(permission, used)",(poems),0.065217,0.114625,0.061265,0.939394,8.195402,0.053789,14.608696,0.939235
22,"(poems, used)",(permission),0.061265,0.154150,0.061265,1.000000,6.487179,0.051821,inf,0.901053
23,(used),"(permission, poems)",0.071146,0.112648,0.061265,0.861111,7.644250,0.053250,6.388933,0.935758
24,"(shall, thou)",(thy),0.063241,0.209486,0.053360,0.843750,4.027712,0.040112,5.059289,0.802469
25,"(thee, thine)",(thou),0.057312,0.193676,0.051383,0.896552,4.629134,0.040283,7.794466,0.831640
26,"(thou, thee)",(thy),0.118577,0.209486,0.098814,0.833333,3.977987,0.073974,4.743083,0.849327
27,"(thee, yet)",(thou),0.061265,0.193676,0.051383,0.838710,4.330481,0.039518,4.999209,0.819271
28,"(thee, yet)",(thy),0.061265,0.209486,0.053360,0.870968,4.157638,0.040526,6.126482,0.809045
29,"(thou, thine)",(thy),0.067194,0.209486,0.057312,0.852941,4.071587,0.043236,5.375494,0.808738
30,"(thine, thy)",(thou),0.063241,0.193676,0.057312,0.906250,4.679209,0.045064,8.600791,0.839371
31,"(thou, yet)",(thy),0.075099,0.209486,0.065217,0.868421,4.145482,0.049485,6.007905,0.820383
32,"(thy, yet)",(thou),0.071146,0.193676,0.065217,0.916667,4.732993,0.051438,9.675889,0.849130
33,"(thou, thee, love)",(thy),0.065217,0.209486,0.055336,0.848485,4.050314,0.041674,5.217391,0.805648